# wget https://raw.githubusercontent.com/ryanpcmcquen/linuxTweaks/master/.gitconfig -P ~/
[user]
	name = Ryan McQuen
	email = rpcm@linux.com
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[core]
	pager = less -r
	autocrlf = false
	eol = lf
